-# %nav.navbar.navbar-expand.navbar-dark.bg-dark.fixed-top
-#   = link_to "sample", "#", id: "logo", class: "navbar-brand"
-#   %ul.navbar-nav.ml-auto
-#     %li.nav-item
-#       = link_to "Home", "#", class: "nav-link"
-#     %li.nav-item
-#       = link_to "新規登録", "#", class: "nav-link"
-#     %li.nav-item
-#       = link_to "ログイン", "#", class: "nav-link"
%header.page-header.wrapper
  %h1
    =link_to "title", "#", id: "logo"
    -# TODO: link_to image_tag("ファビコン", width: ~, alt: "title")
  %nav
    %ul.main-nav
      %li.main-nav__item
        = link_to "Home", "#", class: "nav-link"
      %li.main-nav__item
        = link_to "新規登録", "#", class: "nav-link"
      %li.main-nav__item
        = link_to "ログイン", "#", class: "nav-link"

