.container
  .search-box.row
    .search-box__input
      = form_tag('/books/search', method: :get) do
        = text_field_tag :title, @title, class: 'form_control col-sm-10', placeholder: "本のタイトルを入力してください"
        %button{title: "検索", type: "submit", class: "col-sm-1 badge badge-light"} 検索
  .search-box__result
    = render partial: 'result_list'