.search-box {
  &__input {
    width: 100%;
    margin: 2rem auto;
  }
  .submit-btn {
    font-size: 1rem;
    float: right;
  }
  &__to-review {
    a {
      color: white;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  &__result {
    padding: 0 0 40px;
    .result-note {
      color: $accent-color;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      width: 100%;
    }
  }
}
