.review-show {
  margin-top: 1rem;
  padding-bottom: 3rem;
  .badge {
    font-size: 1.1rem;
  }
  .wrapper-book-info {
    &__right {
      margin-bottom: 2rem;
    }
    &__icon {
      padding: 1rem 2rem 1rem 0;
      .icon-color {
        color: #007bff;
        padding-right: 0.5rem;
      }
    }
    &--notice {
      font-size: 0.9rem;
      color: $accent-color;
    }
  }
}

.user-info {
  font-size: 0.9rem;
  padding-left: 1rem;
  &--others {
    text-align: right;
    padding-right: 1rem;
  }
}

.review-info-box {
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  padding-right: 1.5rem;
  &__body {
    background-color: #f8f8f8;
  }
  .right__author {
    margin-bottom: 1rem;
  }
}

.review-index {
  .badge {
    margin-top: 0;
    margin-right: 0.9rem;
    display: inline;
    font-size: 0.9rem;
  }
}