.review-show {
  margin-top: 1rem;
  padding-bottom: 3rem;
  .badge {
    font-size: 1.1rem;
  }
  .wrapper-book-info {
    &__right {
      margin-bottom: 2rem;
    }
    &__icon {
      padding: 1rem 2rem 1rem 0;
      .icon-color {
        color: #007bff;
        padding-right: 0.5rem;
      }
    }
    &--notice {
      font-size: 0.9rem;
      color: $accent-color;
    }
  }
  &__contents {
    &__list {
      &--no-entry {
        color: gray;
      }
    }
  }
}

.review-index {
  .badge {
    margin-top: 0;
    margin-right: 0.9rem;
    display: inline;
    font-size: 0.8rem;
  }

  .user-info {
    font-size: 0.9rem;
    padding-left: 1rem;
    &__right {
      &__learned {
        padding: 0 1rem 1rem 0;
        &__upper {
          &--label {
            font-size: 1rem;
          }
          .badge {
            margin-right: 0;
          }
        }
        &--content {
          padding-left: 1.5rem;
          &--none {
            color: gray;
          }
        }
      }
    }
  }

 .read-only-rate img {
    width: 14px;
    height: 14px;
  }

  .review-info-box {
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    padding-right: 1.5rem;
    &__body {
      background-color: #f8f8f8;
    }
    .right__author {
      margin-bottom: 1rem;
    }
  }
}

.review-search-box {
  .card-header {
    font-size: 1.1rem;
    font-weight: bold;
  }
}
