.notification {
  background-color: #07575B;
  color: white;
  text-align: center;
}

.btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.btn-status {
  text-decoration: none;
  border-bottom: solid 6px gray;
  border-radius: 3px;
  margin-bottom: 25px;
  &__active {
    -webkit-transform: translateY(2.5px);
    transform: translateY(2.5px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);/*影を小さく*/
    border-bottom: none;
  }
}

.btn-group {
  padding: 5px 10px;
}

.pagination {
  text-align: center;
}