.task-index {
  .task-nav {
    margin-bottom: 0 !important;
    vertical-align: middle;
  }
  &__book-title {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    &--badge {
      margin-right: 1rem;
      padding-top: 0 !important;
      height: 30px;
      line-height: 30px !important;
      width: 80px;
    }
    a {
      color: white;
    }
    p {
      margin-bottom: 0;
    }
  }
  &__tasks {
    &__have {
      display: flex;
      button {
        font-size: 12px;
        height: 25px;
        margin-left: 0.5rem;
        padding: 0 0.3rem;
      }
    }
    &__content {
      margin-bottom: 2rem;
    }
  }
}

.add-task-btn {
  font-size: 1.2em;
  line-height: 1;
  padding: 5px 0.5rem 5px 0;
  vertical-align: middle;
}

.task-table {
  &__left {
    width: 15%;
  }
  &__limit {
    width: 30%;
  }
  &__right {
    width: 5rem;
  }
  &__left-finished {
    width: 3rem;
  }
  &__right-finished {
    width: 5rem;
  }
}

.finished_task{
  &__content {
    color: gray;
    text-decoration: line-through;
  }
}

.show-tasks {
  a:hover {
    text-decoration: none;
  }
}