.user-show  {
  background-color: #FAF9F5;
  padding-top: 20px;
  padding-bottom: 2rem;
  height: 100%;
  min-height: 100vh;
  .side-bar{
    list-style: none;
    &__profile {
      border: ridge;
      border-width: thin;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
        &--avatar {
          border-radius: 10px;
          margin: 5px auto 5px auto;
          max-height: 80%;
          max-width: 80%;
          overflow: hidden;
        }
        &--name {
          font-size: 18px;
          padding-bottom: 5px;
        }
    }
  }
  
  .main-content {
    padding-left: 20px;
    min-height: 60vh;
    .card-header {
      font-size: 20px;
      font-weight: bold;
      border: none;
    }
    &__reading {
      .card {
        min-height: 80%; 
        font-size: 20px;
      }
    }
  }
}

.book-list {
  &__reading--top {
    width: 100%;
    .image-wrapper{
      border: ridge;
      border-width: thin;
    }
    img {
      display: block;
      margin: 0 auto;
      max-height: 100%;
    }
    .badge {
      margin-top: 1.2rem;
    }
    .title {
      font-size: 1rem;
      display: block;
      margin: 0 auto 15px auto;
      padding-left: 5px;
    }
    .limit {
      font-size: 1rem;
      display: block;
      margin: 0 auto 15px auto;
      padding-left: 5px;
    }
    .genre {
      font-size: 1rem;
      display: block;
      margin: 0 auto 1.2rem auto;
      padding-left: 5px;
    }
  }
  &__reading--bottom {
    margin-top: 1.2rem;
    width: 100%;
    .card-body {
      font-size: 1rem;
    }
  }
}

.book-lists {
  display: block;
  height: 100%;
  text-align: right;
  .card.img-thumbnail {
    height: 50%;
    .card-img-top {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .card-body {
    margin-bottom: 1.2rem; 
    font-size: 0.9rem;
    border: ridge;
    border-width: thin;
    border-top: none;
    background-color: #F8F8F8;
    position: relative;
    .dropdown.float-right {
      position: absolute;
      top: 0;
      right: 0;
    }
    .card-title {
      font-size: 1rem;
      text-align: center;
      font-weight: bold;
      margin: 0.5rem;
    }
  }
}

.no-entry-message {
  display: block;
  margin: auto;
}

