.user-show  {
  background-color: #FAF9F5;
  padding-top: 20px;
  .side-bar{
    min-height: 100vh;
    list-style: none;
    &__profile {
      border: ridge;
      border-width: thin;
      height: 150px;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
        &--avatar {
          border-radius: 10px;
          margin: 5px auto 0 auto;
          width: 80%;
          overflow: hidden;
        }
    }
  }
  .main-content {
    min-height: 100vh;
    padding-left: 20px;
  }
  
}
