.user-show  {
  background-color: #FAF9F5;
  padding-top: 20px;
  height: calc(100vh - 40px);
  .side-bar{
    list-style: none;
    &__profile {
      border: ridge;
      border-width: thin;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
        &--avatar {
          border-radius: 10px;
          margin: 5px auto 5px auto;
          max-height: 80%;
          max-width: 80%;
          overflow: hidden;
        }
        &--name {
          font-size: 18px;
          padding-bottom: 5px;
        }
    }
  }
  .main-content {
    padding-left: 20px;
    .card {
      min-height: 80%; 
      font-size: 20px;
      font-weight: bold;
      .card-header {
        border: none;
      }
    }
    .btn-group{
      padding: 5px 10px;
    }
  }
}

.book-list {
  &__reading--top {
    width: 100%;
    .image-wrapper{
      border: ridge;
      border-width: thin;
    }
    img {
      display: block;
      margin: 0 auto;
      max-height: 100%;
    }
    .title {
      font-size: 1rem;
      display: block;
      margin: 10px auto 20px auto;
      padding-left: 5px;
    }
    .limit {
      font-size: 1rem;
      display: block;
      margin: 10px auto;
      padding-left: 5px;
    }
  }
  &__reading--bottom {
    margin-top: 1.2rem;
    width: 100%;
    .card-body {
      font-size: 1rem;
    }
  }
}

