.container.review-form
  .flash
    = flash.now[:alert]
  %h2
    編集
  .review-header
    書籍情報
  .review-body__book
    = form_with model: @book, url: review_path(@review), local: true do |book|  
      = render partial: 'form', locals: { book: book }  