.whole-page
  .container
    .row
      .main-content.col-sm-12.col-md-12.card
        .card-header
          みんなの投稿一覧
        .card-body
          - @reviews.each do |review|
            = render partial: "review", locals: { review: review }
        = paginate(@reviews)
