.container.review-form.col-12.col-sm-10.col-lg-8.mx-auto
  .heading.heading--big.py-2
    新規登録
  .review-header
    書籍情報
  .review-body__book
    = form_with model: @book, url: reviews_path, local: true do |book|  
      = render partial: 'form', locals: { book: book }
