.container.review-form.col-md-10
  %h2
    新規登録
  .review-header
    書籍情報
  .review-body__book
    = form_with model: @book, url: reviews_path, local: true do |book|  
      = render partial: 'form', locals: { book: book }
